.content {
    margin-bottom: 15px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: table;
}

.messages {
    display: table-row;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

.message {
    position: relative;
}

.inputMessage {
    width: 100%;
}
.chatInput {
    background: antiquewhite;
    border-radius: 6px;
    margin-bottom: 0;
    border: 0;
    padding: 5px 9px 7px;
    width: 95%;

}


.textWrap button {
    border: 0;
    background: 0 0;
    position: absolute;
    bottom: 0;
    right: -40px;
    height: 100%;
}
.textWrap {
    position: fixed;
    width: 456px;
    height: 40px;
    float: left;
    margin: 0 7px 0 46px;
    bottom: 20px;
}
.inputWrap {
    cursor: text;
    margin-bottom: 12px;
    border-radius: 6px;
    border: solid 1px black;
}
